*.pyc
.DS_Store
__pycache__/
/.vscode/
.idea/

# coverage result
.coverage
/coverage/

# data
*.dump

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
*.egg
